.container {
  position: sticky;
  display: flex;
  background-color: #4CAF50;
  width: 100%;
  height: fit-content;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.container-escudos-ordenador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  overflow-y: hidden;
}

.logo-container, .logo-container-movil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 15px;
  text-decoration: none;
  color: white;
}

.logo-container-movil {
  width: 100%;
}

.logo-container-movil:hover {
  background-color: #459a48;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.escudo-container, .escudo-container-movil {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

.escudo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
}

.container-escudos-movil {
  display: none;
  flex-direction: column;
  align-items: start;
  background-color: #4CAF50;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  width: fit-content;
}

.escudo-container-movil {
  justify-content: start;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-y: hidden;
}

.escudo-container-movil:hover {
  background-color: #459a48;
}

.nombre-liga-movil {
  font-size: 22px;
}

.container-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/fondo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -1;
}

.home-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.container-clasificacion, .rankings-container {
  width: 45%;
}

@media (max-width: 1510px) {
  .nombre-liga {
    display: none;
  }

  .container {
    height: 65px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1450px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media (max-width: 1220px) {
  .logo {
    width: 25px;
    height: 25px;
  }

  .escudo-container {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 1050px) {
  .container-escudos-ordenador {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .container-escudos-movil.active {
    display: flex;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .escudo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 15px;
  }
}